.tasks {
  .card-header {
    background-color: transparent;
  }

  .nav-pills .nav-link {
    border-radius: 0.5rem;
    color: inherit;
    font-weight: 500;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #9964e3;
  }

  .tab-content {
    background-color: transparent;
  }

  .fc-h-event .fc-event-main {
    background: #9964e3;
    border-color: #9964e3;
  }

  .card-header {
    padding: 0.75rem 0;
  }
}
